#gform {
  max-width: 610px;
  margin: 0 auto;
}

.prompt {
  display: inline-block;
  width: 100px;
  padding: 1em 0 1em 0;
}

.input {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.buttonrow {
  max-width: 600px;
  text-align: center;
  padding: 1em 0;
}
