/* ==========================================================================
   POPUPS
   ========================================================================== */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  display: none;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 75%;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
