<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.name }}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}
  <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}, {{ site.keywords | join: ', ' | escape }}" />

  <!-- Semantic UI -->
  <link rel="stylesheet" href="/assets/semantic/dist/semantic.min.css">

  <!-- jQuery -->
  <script src="/assets/js/jquery-3.1.1.slim.min.js"></script>

  <!-- favicon
  ================================================== -->
  <link rel="shortcut icon" href="favicon.ico">

  {% include styles.html %}
</head>
<body class="site">
  <!-- Following Menu -->
  <div class="ui large top borderless fixed hidden menu">
    <div class="ui container">
      {% include nav.html %}
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    {% include nav.html %}
  </div>

  <main class="site-content pusher">
    {% if layout.header %}
      {% include {{ layout.header }} %}
    {% else %}
      {% include headers/default.html %}
    {% endif %}
    <br />
    {{ content }}
    <br />
  </main>

  <footer>
    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">Sitemap</h4>
            <div class="ui inverted link list">
              {% include nav.html %}
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Get in touch</h4>
            <div class="ui inverted link list">
              {% for profile in site.data.author.profiles %}
              <a class="item" href="{{ profile.link }}">
                <i class="{{ profile.icon }} icon"></i> {{ profile.site }}
              </a>
              {% endfor %}
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Proudly powered by:</h4>
            <div class="ui inverted link list">
              {% for credit in site.data.credits %}
              <a class="item" href="{{ credit.link }}">
                <i class="right triangle icon"></i>
                <div class="content">
                  <div>{{ credit.name }}</div>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/assets/semantic/dist/semantic.min.js"></script>
  <script src="/assets/js/site.js"></script>
  {% include googleanalytics.html %}
</body>
</html>
